
/* Default */
.cmp-title__text {
    color: $text-color;
}

/* Light */
.cmp-title--light {
    .cmp-title__text {
        color: $gray-light;
    }
}

.cmp-title--bold {
    .cmp-title__text {
        font-weight: 600;
    }
}

.cmp-title--black {
    .cmp-title__text {
        color: $black;
    }
}
