
.cmp-tabs {

    .cmp-tabs__tablist {
        display:flex;
        flex-wrap:wrap;
        padding-left:0;
        list-style:none;
    }

    .cmp-tabs__tab {
        font-size: $font-size-small;
        text-transform: uppercase;
        padding: 1em 1.5em;
        max-height: $button-size;
        min-width: $button-size;
        box-sizing:border-box;
        border-bottom:1px solid transparent;
        padding:.5rem 1rem;
        cursor:pointer;
        &:focus {
            outline: none;
        }
    }

    .cmp-tabs__tab--active {
        border: none;
        background-color: $black;
        color: $white;
        border-color:inherit
    }

    .cmp-tabs__tabpanel {
        display: none;

        &--active{
            display: block;
        }
        .aem-GridColumn{
            padding-left: 0;
            padding-right: 0;
        }
    }
}