<template data-sly-template.item="${@ item}">
    <article class="cmp-image-list__item-content">
        <a class="cmp-image-list__item-image-link"
           href="${item.URL}"
           data-sly-test="${item.image}"
           data-cmp-clickable="${item.data ? true : false}">
            <div class="cmp-image-list__item-image" data-sly-resource="${item.image @ wcmmode='disabled'}"></div>
        </a>

        <a class="cmp-image-list__item-title-link" href="${item.URL}" data-cmp-clickable="${item.data ? true : false}">
            <span class="cmp-image-list__item-title">${item.title}</span>
        </a>

        <span class="cmp-image-list__item-description"
              data-sly-test="${item.description}">${item.description}</span>
    </article>
</template>