.cmp-separator--space-small {
    .cmp-separator {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

.cmp-separator--space-medium {
    .cmp-separator {
        margin-top: 2em;
        margin-bottom: 2em;
    }
}

.cmp-separator--space-large {
    .cmp-separator {
        margin-top: 4em;
        margin-bottom: 4em;
    }
}
