.cmp-navigation {
    padding-top: 15px;
    float: right;
}

.cmp-navigation__group {
    list-style: none;
    margin: 0;
    padding-inline-start: 0;

}

.cmp-navigation__item {
    display: block;
    float: left;
}

.cmp-navigation__item-link {
    color: $text-color;
    font-size: $font-size-small;
    text-transform: uppercase;
    padding: 15px 17px;
    text-decoration: none;

    &:hover,
    &:focus {
        background-color: $brand-primary;
    }
}

/* highlight only level 1 */
.cmp-navigation__item--active {

    .cmp-navigation__item-link {
        background-color: $brand-primary;
    }
}