.cmp-form-text {
  margin: 10px 0;
  font-family: $font-family-sans-serif;
}

.cmp-form-text__text {
  border: 1px solid $gray-light;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: $font-size-small;
  font-weight: $font-weight-semi-bold;
  height: 48px;
  padding: 2rem 1rem;
  width: 100%;
}


.cmp-form-text__text--error {
  border: solid 1px $pink;
}