.cmp-button--utility {
    text-align: right;

    .cmp-button {
        text-transform: uppercase;
        color:$gray-light;
        font-size: $font-size-small;
    }
}

.cmp-button--langnavtoggle {

    .cmp-button{
        padding-right: $gutter-padding;
        background-repeat: no-repeat;
        background-size: $country-flag-size;
        padding-left: 35px;
        background-position-x: 0px;
        background-position-y: -1px;

        &::after {
            border-style: solid;
            border-width: 0.10em 0.10em 0 0;
            content: '';
            display: inline-block;
            height: 0.45em;
            left: 0.45em;
            position: relative;
            top: 0.5em;
            transform: rotate(135deg); 
          
            vertical-align: top;
            width: 0.45em;
        }

        &.open::after {
            top: 0.75em;
            transform: rotate(-45deg);
        }
    }
  
}