.experiencefragment.cmp-experiencefragment--footer {
    background-color: $black;
    color: $gray-light;
    padding-left:0px;
    padding-right:0px;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    margin-top: 3rem;
}