<!--/*
  ~ ADOBE CONFIDENTIAL
  ~ __________________
  ~
  ~ Copyright 2017 Adobe Systems Incorporated
  ~ All Rights Reserved.
  ~
  ~ NOTICE:  All information contained herein is, and remains
  ~ the property of Adobe Systems Incorporated and its suppliers,
  ~ if any.  The intellectual and technical concepts contained
  ~ herein are proprietary to Adobe Systems Incorporated and its
  ~ suppliers and are protected by trade secret or copyright law.
  ~ Dissemination of this information or reproduction of this material
  ~ is strictly forbidden unless prior written permission is obtained
  ~ from Adobe Systems Incorporated.
  */-->

<!--/* REMOVE THIS CLIENT LIBRARY!
<sly data-sly-use.content="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${ content.css @ categories='cq.experience-fragments.content'}"/>*/-->
<div class="xf-content-height">
    <sly data-sly-use.body="body.js" data-sly-resource="${body.resourcePath @ selectors=[]}"/>
</div>