.cmp-contactus {
}

.cmp-contactus-error {

}

.wknd-contact-us-form {

}

#wknd-contact-us-form-username, #wknd-contact-us-form-message {
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: var(--fontSizeSmall, 15px);
    font-weight: var(--fontWeightSemiBold, 400);
    height: 3pc;
    padding: 20px;
    width: 100%;
    margin-top: 20px;
    resize: none;
    font-family: var(--fontFamilySansSerif, "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif);
}

#wknd-contact-us-form-username {

}

#wknd-contact-us-form-message {
    height: 100px;
}

#wknd-contact-us-form-submit {
    background: #ffea00 0 0 no-repeat padding-box;
    border: 0;
    box-sizing: border-box;
    color: #202020;
    font-family: var(--fontFamilySansSerif, "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif);
    font-size: 18px;
    font-weight: var(--fontWeightBold, 600);
    min-width: 180px;
    padding: 0.75rem 1rem;
    text-align: center;
    text-transform: uppercase;
    float: right;
}

#wknd-contact-us-form-submit:hover {
    cursor: pointer;
}
