
.cmp-layout-container--socialmedia {

    .aem-Grid.aem-Grid--default--2 > .aem-GridColumn.aem-GridColumn--default--1 {
        width: unset;
        padding-left: 0;
        padding-right: 0;
    }
}