 /* WKND Layout Container Footer Style */


.cmp-layoutcontainer--footer {
 
    background-color: $black;
    color: $gray-lighter;

    /* Style Text Component */
    .cmp-text {

        p {
            line-height: 1.25;
        }

        a {
            color: $gray-lighter;
            text-decoration: underline;
        }
    }
}