"<nav class='cmp-breadcrumb' aria-label='Breadcrumb'>"
    <ol class='cmp-breadcrumb__list' itemscope='' itemtype='http://schema.org/BreadcrumbList'>
      <li class='cmp-breadcrumb__item' itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem'>
        <a href='/content/core-components-examples/library.html' class='cmp-breadcrumb__item-link' itemprop='item'>
          <span itemprop='name'>Component Library</span>
        </a>
        <meta itemprop='position' content='1'>
      </li>
      <li class='cmp-breadcrumb__item' itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem'>
        <a href='/content/core-components-examples/library/breadcrumb/hidden/level-1/level-2/breadcrumb.html' class='cmp-breadcrumb__item-link' itemprop='item'>
          <span itemprop='name'>Breadcrumb</span>
        </a>
        <meta itemprop='position' content='2'>
      </li>
      <li class='cmp-breadcrumb__item' itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem'>
        <a href='/content/core-components-examples/library/breadcrumb/hidden/level-1.html' class='cmp-breadcrumb__item-link' itemprop='item'>
          <span itemprop='name'>Level 1</span>
        </a>
        <meta itemprop='position' content='3'>
      </li>
      <li class='cmp-breadcrumb__item' itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem'>
        <a href='/content/core-components-examples/library/breadcrumb/hidden/level-1/level-2.html' class='cmp-breadcrumb__item-link' itemprop='item'>
          <span itemprop='name'>Level 2</span>
        </a>
        <meta itemprop='position' content='4'>
      </li>
      <li class='cmp-breadcrumb__item cmp-breadcrumb__item--active' itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem'>
        <span itemprop='name'>Breadcrumb</span>
        <meta itemprop='position' content='5'>
      </li>
  </ol>
</nav>